h1 {
	background-position: center;
	color: #b62f26;
	font-family: 'Cormorant Garamond', serif;
	font-size: 24px;
}

p {
	color: green;
	font-family: 'Cormorant Garamond', serif;
	font-size: 24px;
	margin-top: 20px;
	padding-left: 50px;
}

li {
	color: black;
	font-family: 'Cormorant Garamond', serif;
	font-size: 16px;
	padding-left: 50px;
}

h2 {
	color: grey;
	font-size: 36px;
	font-family: 'Cormorant Garamond', serif;
	padding-left: 50px;
}

ol li{
	color: white;
	font-family: 'Cormorant Garamond', serif;
	font-size: 16px;
	padding-left: 50px;
}
#examples {
background-color: white;
font-family: 'Cormorant Garamond', serif;
color: grey;
font-size: 18px;
padding-top: 60px;
padding-bottom: 40px;
}

#mailing {
background-color: #dce0de;
color: #ddd;
padding-top: 60px;
padding-bottom: 40px;
}



#social-buttons button {
	color: red;
}
.btn-twitter {
	background-color:#7B9EA8;
	border-color: black;
}
.btn-facebook {
	background-color: #7B9EA8;
	border-color: black;
}
.btn-pinterest {
	background-color: #7B9EA8;
	border-color: black;
}
.jumbotron {
	min-height: 600px;
	background-image: url('../images/peacock-plumage.jpeg');
	background-size: cover;
	background-attachment: fixed;
}