h1 {
	background-position: center;
	color: #b62f26;
	font-family: Helvetica;
	font-size: 16px;
}

p {
	color: green;
	font-family: Helvetica;
	font-size: 14px;
}

li {
	color: grey;
}

h2 {
	color: grey;
}

ol li{
	color: white;
	font-family: Helvetica;
	font-size: 16px;
}

#social-buttons​ button {
 color​:​ white;
}
.​btn​-​twitter​ {
 background​-​color​:​ #00acee;
 border​-​color​:​ #009ad5;
}
.​btn​-​facebook​ {
 background​-​color​:​ #4868ac;
 border​-​color​:​ #314776;
}
.​btn​-​pinterest​ {
 background​-​color​:​ #b62f26;
 border​-​color​:​ #b62f26;
}

.​jumbotron​ {
min​-​height​:​ 600px;
background​-​image​:​ url('images/peacock-plumage.jpeg');
background​-​size​:​ cover;
background​-​attachment​:​ fixed​;
}

