


title {
	background-position: center;
}

h1 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	margin-top: 20px;
	padding-left: 250px;
}

p {
	color: green;
	font-family: 'Cormorant Garamond', serif;
	font-size: 24px;
	margin-top: 20px;
	padding-left: 10px;
}

li {
	color: black;
	font-family: 'Cormorant Garamond', serif;
	font-size: 16px;
	padding-left: 10px;
}

h2 {
	color: grey;
	font-size: 36px;
	font-family: 'Cormorant Garamond', serif;
	padding-left: 10px;
}

ol li{
	color: white;
	font-family: 'Cormorant Garamond', serif;
	font-size: 16px;
	padding-left: 10px;
}

#initialExamples {

padding-top: 60px;
padding-bottom: 40px;

}

#examples {
background-color: white;
font-family: 'Cormorant Garamond', serif;
color: grey;
font-size: 18px;
padding-top: 60px;
padding-bottom: 40px;
}

#mailing {
background-color: #dce0de;
color: #ddd;
padding-top: 60px;
padding-bottom: 40px;
}
.jumbotron .form-group {
  line-height: 1em;
}

.jumbotron label {
  color: black;
}

#social-buttons button {
	color: #38484D;
}

.btn-twitter {
	background-color:#709099;
	border-color: black;
}
.btn-facebook {
	background-color: #709099;
	border-color: black;
}

.btn-pinterest {
	background-color: #709099;
	border-color: black;
}
.jumbotron {
	min-height: 200px;
	background-image: url('../images/tree_rings.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.text{
    width: 700px;
     margin: 0 auto;
    }


body {
	margin: 0;
}

#openingimage img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 60px;
	padding-bottom: 40px;
}

